version: '3.8'

services:
  pipe-worker-agent:
    image: ${WORKER_AGENT_IMAGE:-ghcr.io/torv-io/pipe-worker-agent:latest}
    build:
      context: ..
      dockerfile: pipe-worker-agent/Dockerfile
    container_name: pipe-worker-agent
    ports:
      - '50051:50051'
    volumes:
      - torv_pipe_worker_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - torv_pipe_worker_network
    environment:
      - NODE_WORKER_AGENT_IMAGE=${NODE_WORKER_AGENT_IMAGE:-ghcr.io/torv-io/pipe-node-worker-agent:latest}
    restart: unless-stopped

volumes:
  torv_pipe_worker_data:

networks:
  torv_pipe_worker_network:
    driver: bridge
